.comments{
    font-size: 30px;
    border-radius: 5px;
    background-color: #e7ccad;
    padding: 20px;
}

  input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .textarea  {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .btn {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }

  .btndelete{
    width: 10%;
    background-color: rgb(233, 98, 98);
    color: white;
    padding: 12px 17px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;  
  }

  .btndelete:hover {
    background-color: red;
  }
